body,
.ant-layout,
.ant-layout-footer {
    background-color: #00152926 !important;
}

.ant-layout-footer {
    background: none !important;
}

.ant-menu-item-selected {
    background-color: #b54915 !important;
}

a.naked,
a.naked:link,
a.naked:visited,
a.naked:hover,
a.naked:active {
    color: inherit !important;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
}

@media (max-width: 575px) {
    .ant-layout-content,
    .ant-layout-header {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
    .ant-card-body {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
}
